# Declare files that will always have LF line endings on checkout.
/metainfo2.txt text eol=crlf
/esd/*.esd text eol=crlf
*.sh text eol=lf
*.lua text eol=lf
/apps/* text eol=lf
/mod/model_db/* text eol=lf
/config/* text eol=lf

# Track binary files
/apps/sbin/* -text -diff
/apps/sbin/beta/* -text -diff
*.pdf -text -diff
*.png -text -diff
*/mod/gem/* -text -diff
*.jar -text -diff
*.gca -text -diff
