# Declare files that will always have LF line endings on checkout.
/metainfo2.txt text eol=crlf
/esd/*.esd text eol=crlf
*.sh text eol=lf

# Track binary files with LFS
/apps/sbin/* -text
/apps/sbin/beta/* -text
*.pdf -text
*.png -text
*/mod/gem/* -text
*.exe -text
*.jar -text
